.text-btn{
    font-size:110%;
}

.margin-50{
    margin:50px;
}

.padding-15{
    padding:15px;
}

.padding-left-30{
    padding-left:30px;
}

.padding-right-30{
    padding-right:30px;
}

.margin-15-top{
    margin-top:15px;
}

.margin-15-right{
    margin-right: 15px;
}

.margin-15-bottom{
    margin-bottom:15px;
}

.center{
    display: flex;
    justify-content: center;
}

.btn-width{
    width:20vh;
}